doctype html
html(lang="en")
	head
		title Glow App
		meta(name='description', content='Make a real first impression with employers.')
		meta(name='keywords', content='interview, video, hiring, 21st century, recruitment')
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='shortcut icon', href='favicon.ico') 
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900')
		link(rel='stylesheet', href='/main.css')

		base(href='/')

		//- script(src="")
	body
		.page-wrapper
			.background
			.content
				.logo-container
					.logo
					.name
						h1 Glow App
						h3 Make a real first impression with employers
					.app-store
						img.apple(src='apple.png')
						img.google(src='android.png')
			footer
				.inner
					h6 About
					h6 Legal
					h6 Careers
					h6 Contact
