.content {
	width: 50%;
	height: 100%;
	left: 25%;
	top: 0;
	position: absolute;
}

@media (max-width: 1025px) {
  .content {
  	width: 75%;
  	left: 12.5%;
  }
}

@media (max-width: 680px) {
  .content {
  	width: 100%;
  	left: 0;
  }
}